/*#content{*/
    /*height: 500px;*/
/*}*/
#div1{
    height: 100px;
    margin: 10px;
    padding: 20px;
    /*float: left;*/
    border: dashed red;
    background-color: antiquewhite;
}

#div2{
    height: 100px;
    margin: 10px;
    padding: 20px;
    /*float: left;*/
    border:solid blue;
    background-color: blueviolet;
}

#div3{
    height: 100px;
    margin: 10px;
    padding: 20px;
    border:solid gold;
    background-color: chartreuse;
}